@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item">
        </li>

        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                <img alt="Friend requests" src="../wwwroot/assets/friends.png" />
            </a>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="#"></a>
                if(Model.FriendRequests.FirstOrDefault() is not null) { Model.FriendRequests.FirstOrDefault().Email; }
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                <img alt="Account" src="../wwwroot/assets/friends.png" />
            </a>
            <div class="dropdown-menu">
                <form id="logout-form" class="dropdown-item" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                </form>
                <a id="user-button" class="dropdown-item" asp-controller="User" asp-action="Profile" title="Profile">Profile</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage" type="button">Settings</a>
                <a class="dropdown-item" onclick="$('#logout-form').submit()">Logout</a>
            </div>
        </li>
    }
    else
    {
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                <img alt="Account" src="../wwwroot/assets/account.png" />
            </a>
            <div class="dropdown-menu">
                <a class="dropdown-item" title="Register" asp-area="Identity" asp-page="/Account/Register">Register</a>
                <a class="dropdown-item" title="Login" asp-area="Identity" asp-page="/Account/Login">Login</a>
            </div>
        </li>
    }
</ul>
