@model Dinder.Models.User
@{
}
<div class="form-group">
    <label asp-for="Name"></label>
    <input id="name" asp-for="Name" class="form-control" Placeholder="Name" onClientBlur="return ValidateForm()" runat="server" />
    <span id="name-success">saved</span>
    <span asp-validation-for="@Model.Name" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="@Model.Phone"></label>
    <input id="phone" asp-for="@Model.Phone" class="form-control" Placeholder="Phone number" />
    <span id="phone-success">saved</span>
    <span asp-validation-for="@Model.Phone" class="text-danger"></span>
</div>