@model Dinder.Models.User
@{
}
<div class="form-group">
    <label asp-for="Name"></label>
    <input id="name" asp-for="Name" class="form-control" value="Name"/>
    <span asp-validation-for="Name" class="text-danger"></span>
</div>