@model IEnumerable<DinderDL.Models.UserEntity>

@{
    ViewData["Title"] = "Home Page";
}
<div class="profiles-container">


    <div class="card-deck">
        @if (Model.Any())
        {
            foreach(var user in Model)
            {
                <div class="card">
                    <a href="/getProfile/@user.UserID">
                        @if (user.ProfilePic is not null)
                        {
                            <img id="cardPicture" class="card-img-top" src="data:image/*;base64,@(Convert.ToBase64String(user.ProfilePic))" alt="Card profile picture" />
                        }
                        else
                        {
                            <img id="cardPicture" class="card-img-top" src="~/default-profile-pic.png" alt="Card profile picture" />
                        }
                    </a>
                    <div class="card-body">
                        <h5 class="card-title">
                            <a href="/getProfile/@user.UserID"> @Html.DisplayFor(modelItem => user.Name) </a>
                        </h5>
                        <p class="card-text">@Html.DisplayFor(modelItem => user.Bio)</p>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">Last updated 3 mins ago</small>
                    </div>
                </div>
            }
        }
        else
        {
            <h4>No one here by that name or email :/</h4>
        }
    </div>
</div>
