@model DinderDL.Models.UserEntity
<form asp-controller="User" asp-action="upsertProfilePic" id="file-form" name="form" enctype="multipart/form-data" method="post">
    <div>
        <picture>
            @if (Model.ProfilePic is not null)
            {
                <img src="data:image/*;base64,@(Convert.ToBase64String(@Model.ProfilePic))" id="profilePic" alt="Profile picture">
            }
            else
            {
                <img src="~/default-profile-pic.png" id="profilePic" alt="Profile picture">
            }
            <input type="file" name="files" accept="image/*" asp-for="ProfilePic" id="fileBrowser"
                   class="form-control">
        </picture>
        <span asp-validation-for="ProfilePic" class="text-danger"></span>
    </div>
</form>
