@model FileViewModel
<form id="form" name="form" enctype="multipart/form-data" method="post">
    <div>
        <picture>
            <img src="~/default-profile-pic.png" id="profilePic" alt="Profile picture">
            <input type="file" name="files" id="fileBrowser" profile-id="@Model.ProfileID">
        </picture>
    </div>
</form>
