@model User
<form asp-controller="User" asp-action="upsertProfilePic" id="file-form" name="form" enctype="multipart/form-data" method="post">
    <div>
        <picture>
            <img src="@Model.ProfilePic.FirstOrDefault()" id="profilePic" alt="Profile picture">
            <input type="file" name="files" accept="image/*" asp-for="ProfilePic" id="fileBrowser"
                   class="form-control">
        </picture>
        <span asp-validation-for="ProfilePic" class="text-danger"></span>
    </div>
</form>
