@model IEnumerable<DinderDL.Models.UserEntity>

@foreach (var item in Model)
{
    @Html.DisplayFor(modelItem => item.UserID)
}

@*<div class="card" style="width: 18rem;">
        <img id="cardPicture" class="card-img-top" src="~/default-profile-pic.png" alt="Card profile picture">
        <div class="card-body">
            <h5 class="card-title">Friend</h5>
            <p class="card-text">Description</p>
            <a href="#" class="btn btn-primary">Profile</a>
        </div>
    </div>*@