@model IEnumerable<DinderDL.Models.UserEntity>
@{
    ViewData["Title"] = "Profile";
}

<h1>Profile</h1>

<div class="row">
    <div class="col-md-6">
        <form id="profile-form" method="get">
            <div class="form-group">
            </div>
            <div class="form-group">
                <label>@Html.DisplayNameFor(model => model.Name) </label>
                <input class="form-control" />
                <span class="text-danger"></span>
            </div>
        </form>
    </div>
    <div class="col-md-6">
        <div>
            <picture>
                <img src="~/default-profile-pic.png" id="profilePic" alt="Profile picture">
                <input type="file" id="fileBrowser">
            </picture>
        </div>
    </div>
</div>