@model IEnumerable<DinderDL.Models.UserEntity>
@{
    ViewData["Title"] = "Profile";
}
<div class="container emp-profile">
    <form method="post">
        <div class="row">
            <div class="col-md-4">
                <div class="profile-img">
                    <img src="~/default-profile-pic.png" alt="Profile picture" />
                </div>
                <div id="bio">
                    <p>@Model.FirstOrDefault().Bio</p>
                </div>
            </div>
            <div class="col-md-7">
                <div class="profile-head">

                    <h5>
                        @Model.FirstOrDefault().Name
                    </h5>

                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="timeline-tab" data-toggle="tab" href="#timeline" role="tab" aria-controls="timeline" aria-selected="true">Timeline</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="about-tab" data-toggle="tab" href="#about" role="tab" aria-controls="about" aria-selected="false">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="friends-tab" data-toggle="tab" href="#friends" role="tab" aria-controls="friends" aria-selected="false">Friends</a>
                        </li>
                        <li class="nav-item ml-auto">
                            <div class="custom-control custom-switch">
                                <input type="checkbox" class="custom-control-input" id="customSwitch1">
                                <label class="custom-control-label active" for="customSwitch1" id="friendship"></label>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="col-auto">
                    <div class="tab-content profile-tab" id="myTabContent">
                        <div class="tab-pane fade show active" id="timeline" role="tabpanel" aria-labelledby="timeline-tab">
                            <div class="posts">

                            </div>
                            <div class="col-auto col-md-16">
                                <div class="form-group">
                                    <div class="input-group">
                                        <input type="text" class="form-control" id="Posts" placeholder="Post..."></>
                                    </div>
                                    <button id="postbtn" type="submit" onclick="getPosts(true)" class="btn btn-primary shadow-none float-right" disabled>SEND</button>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="about" role="tabpanel" aria-labelledby="about-tab">
                            <div class="row">
                                <div class="col-md-6">
                                    <label>Email</label>
                                </div>
                                <div class="col-md-6">
                                    <p id="email">@Model.FirstOrDefault().Email</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label>Phone</label>
                                </div>
                                <div class="col-md-6">
                                    <p id="phone">@Model.FirstOrDefault().Phone</p>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="friends" role="tabpanel" aria-labelledby="friends-tab">
                            <div class="row">
                                <div class="card" style="width: 18rem;">
                                    <img id="cardPicture" class="card-img-top" src="~/default-profile-pic.png" alt="Card profile picture">
                                    <div class="card-body">
                                        <h5 class="card-title">Friend</h5>
                                        <p class="card-text">Description</p>
                                        <a href="#" class="btn btn-primary">Profile</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            $.get("../api/UserEntities/getProfile").then((result) => {
                $("#phone").text(result[0][0].phone);
                getPosts(false, result[1]);
            });

            $("#customSwitch1").on("change", function () {
                if ($(this).is(":checked")) {
                    $('#friendship').text("Friends ✓")
                } else {
                    $('#friendship').text("Add friend")
                }
            })

            //undim button when text is entered
            $("#Posts").on("input", function (){
                if ($("#Posts").val() != "") {
                    $("#postbtn").css("background-color", "#e84a5f");
                    $("#postbtn").prop("disabled", false);
                } else {
                    $("#postbtn").css("background-color", "grey");
                    $("#postbtn").prop("disabled", true);
                }
            });
        });

        function getPosts(getRecentPost, PostList) {
            if (getRecentPost == true) {
                //...
            } else {
                $.each(PostList, function (index, value) {
                    var text1 = '<div class="col-md-3">' +
                        '<label id="author"><b>' + value.author + '</b></label>' +
                        '<p id="content">' + value.content + '</p>' +
                        '</div>' +
                        '<hr />' +
                        '   ';
                    $(".posts").after(text1);
                });
            }
        }
    </script>
}