/* Stylesheet for the account management page (Identity/Account/Manage) */

#fileBrowser {
    display:none;
}

#profilePic {
    width: 100%;
}

#name-success, #phone-success {
    color: green;
    display:none;
}

#bio-manage {
    color: black;
}