@model IEnumerable<DinderDL.Models.UserEntity>

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
@Model.Last().Email

@foreach (var user in Model)
{
    <div class="card" style="width: 18rem;">
        <img id="cardPicture" class="card-img-top" src="data.," alt="Card profile picture">
        <div class="card-body">
            <h5 class="card-title">@Html.DisplayFor(modelItem => user.Email)</h5>
            <p class="card-text">@Html.DisplayFor(modelItem => user.Bio)</p>
            <a href="#" class="btn btn-primary">Profile</a>
        </div>
    </div>
}
@section Scripts {
    <script>
        $(document).ready(function () {
            var loggedIn = @User.Identity.IsAuthenticated;
            if (loggedIn) {
                console.log("logged in");
                //route navbar welcome message/button with the logged in user ID
                $.ajax({
                    type: 'GET',
                    url: '../api/UserEntities/getUserID',
                    success: function (result) {
                        $("#user-button").attr("href", "/getProfile/" + result);
                    }
                });




                FALSE IS NOT DEFINED








                //set the navbar welcome message/button to the user's name
                $.ajax({
                    type: 'GET',
                    url: '../api/UserEntities/getUsername',
                    success: function (result) {
                        $("#user-button").text("Hello, "+ result + "!");
                    }
                });
            }
        });
    </script>
}